    * {
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: inherit;
    }

    header {
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        height: 80px;
        background-color: #72DFD9;
        z-index: 10;
    }

    @media (max-width: 768px) {
        header {
            height: 60px;
            justify-content: center;
        }
    }

    .naam, .portfolio {
        position: fixed;
        z-index: 12;
    }

    .naam {
        left: 20px;
        top: 10px;
    }

    .portfolio {
        right: 20px;
        top: 10px;
    }

    @media (max-width: 768px) {
        .naam {
            left: 50px;
        }
    }

    @media (max-width: 480px) {
        .naam {
            left: 10px;
        }
    }

    main {
        padding-top: 120px; /* Voeg bovenmarge toe om header te compenseren */
    }

    .aboutme-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        position: relative;
    }

    .aboutme-content {
        margin-left: 20px; /* Voeg wat ruimte toe tussen de afbeelding en de tekst */
        font-size: 1.5rem;
    }
    .extrainfo{
        font-weight: bold;
    }

    .marlonpfpgroot {
        height: auto;
        max-width: 100%; /* Pas dit aan om de grootte van de afbeelding aan te passen */
        width: 2000px;
        margin: -500px;
    }

    .blue-line, .blue-line2 {
        border-top: 30px solid #72DFD9; /* blauwe kleur */
        width: 100%;
        margin: 20px 0;
        z-index: -1;
    }

    .projecten, .project {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p1, .p2, .p3 {
        font-size: 1.5rem;
        z-index: -1;
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .p1, .p2, .p3 {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 480px) {
        .p1, .p2, .p3 {
            font-size: 1rem;
        }
    }

    .ball, .school, .nia {
        width: 400px;
        height: 200px;
        margin-bottom: 20px; /* Voeg marge toe om afbeeldingen te scheiden */
        z-index: -1;
    }

    @media (max-width: 768px) {
        .ball, .school, .nia {
            width: 80%; /* Pas de breedte aan voor kleinere schermen */
        }
    }

    @media (max-width: 480px) {
        .ball, .school, .nia {
            width: 90%; /* Pas de breedte aan voor nog kleinere schermen */
        }
    }

    .contactmij {
        display: flex;
        justify-content: center;
        font-family: Inter, sans-serif;
        font-size: 5rem;
        z-index: -1;
    }

    @media (max-width: 768px) {
        .contactmij {
            font-size: 4rem;
        }
    }

    @media (max-width: 480px) {
        .contactmij {
            font-size: 3rem;
        }
    }

    .linkedin, .github {
        display: flex;
        justify-content: center;
        font-family: Inter, sans-serif;
        font-size: 5rem;
        z-index: -1;
    }

    @media (max-width: 768px) {
        .linkedin, .github {
            font-size: 4rem;
        }
    }

    @media (max-width: 480px) {
        .linkedin, .github {
            font-size: 3rem;
        }
    }

    .social-icons {
        display: flex;
        justify-content: center;
    }

    .linkedin,
    .github {
        margin: 0 10px; /* Voeg wat ruimte toe tussen de twee pictogrammen */
    }

    .email{
        display: flex;
        justify-content: center;
        font-size: xx-large;
        
    }
